[Unit]
Description="Video streaming"
After=multi-user.target

[Service]
ExecStart=/usr/local/bin/stream.sh
Restart=always
StartLimitInterval=10
RestartSec=10

[Install]
WantedBy=multi-user.target
